<nav>
  <div id="mySidebar" class="sidebar navLeft">
      <div href="javascript:void(0)" onclick="closeNav()"
          class="closebtn">
          <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="firstOption "><a onclick="setHomeActive()" id="homeOption" href="#homePageLink">Home</a></div>
      <div><a href="#aboutPageLink" id="aboutOption" onclick="setAboutActive()" >About us</a></div>
      <div><a href="#eventsPageLink" id="eventsOption" onclick="setEventsActive()">Events</a></div>
  </div>
  <div id="main" class="navMid">
      <button class="openbtn" onclick="openNav()"><i
              class="fa-solid fa-bars-staggered"></i></button>
      <div class="famTitle">FAM</div>
      <a href="/login" class="phoneMenuAccount"><i
              class="fa-solid fa-user-circle"></i></>
  </div>
  <div class="navRight">
      <div class="contactUs">Contact us</div>
      <a href="/login"><i class="fa-solid fa-user-circle"></i></a>
  </div>
</nav>