<nav
  class="bg-[#1A1A2E] text-white p-5 px-10 flex items-center justify-between"
>
  <div class="links flex text-2xl">
    <h2 class="mr-10 font-semibold">Home</h2>
    <h2 class="mr-10 font-semibold">About Us</h2>
    <h2 class="font-semibold">Events</h2>
  </div>
  <div class="title w-fit -translate-x-1/2">
    <h2 class="text-[#AB2330] text-5xl font-semibold">FAM</h2>
  </div>
  <div class="right-nav flex items-center">
    <p class="text-white text-2xl mr-10">Contact Us</p>
    <i
      class="fa-solid fa-user bg-white p-4 py-3 text-black rounded-full text-3xl"
    ></i>
  </div>
</nav>
