<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
            rel="stylesheet">
            <link rel="stylesheet" href="/static/css/styleMobile.css">
        <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    </head>
    <body>
        <div class="nav2">
            <div class="famTitle2">FAM</div>
            <div class="logout"><i class="fa-solid fa-right-from-bracket"></i>
                Logout</div>
        </div>
        <div class="mainContainer">
            <div class="memLeft">
                <div class="memLeftTop">
                    <a href="/member/add"><div class="addMem activeMemOption"><i
                            class="fa-solid fa-user-plus"></i> &nbsp; Add
                        Members</div>
                    </a>
                    <a href="/member/all">
                        <div class="allMem"><i class="fa-solid fa-user"></i> &nbsp;
                        All Members</div>
                </div>
                    </a>
                    
                <div class="memLeftDown">
                    <div class="memSettings"><i class="fa-solid fa-gear"></i>
                        &nbsp; Settings</div>
                </div>
            </div>
            <div class="memRight2">
                <div class="cardContainer">
                    <div id="CF" class="cardFront">
                        <img src="/static/images/cardFront.png" alt>
                    </div>
                    <div id="CB" class="cardBack">
                       <img src="/cards/<%=memberId%>.png" alt="">
                    </div>
                </div>
                <div class="printBtn" onclick="downloadPNG()">Download Card</div>
            </div>
        </div>
        <script>function downloadPNG() {
            var back = document.createElement('a');
            back.download = '<%=name.trim().split(/\s+/)[0]%>_Back.png'; 
            back.href = '/cards/<%=memberId%>.png'; 
            back.click(); 

            // var front = document.createElement('a');
            // front.download = 'cardFront.png'; 
            // front.href = '/static/images/cardFront.png'; 
            // front.click(); 
            
        }</script>
    </body>
</html>