* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jost, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
body {
  background: #000;
  
}




.title {
  color: rgb(187, 0, 0);
  font-size: 3.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.fa-circle-user {
  font-size: 2.5rem;
  text-align: center;
}
.mainPage {
  display: flex;
  height: calc(100vh);
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
}
.leftMain {
  width: 50vw;
}
.rightMain {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fam {
  padding-top: 15vh;
  color: rgb(187, 0, 0);
  font-size: 12rem;
}
.tagline {
  color: rgb(163, 0, 0);
  font-size: 1.5rem;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.from {
  padding-top: 5vh;
  color: rgb(163, 0, 0);
  font-size: 1.3rem;
  font-weight: 500;
}
.ezone {
  color: rgb(163, 0, 0);
  font-size: 1.9rem;
}
.space {
  height: 11vh;
}
.eventsPage,
.aboutPage {
  padding: 100px 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg2.png);
  
}
.eventsTitle,
.aboutTitle {
  color: rgb(163, 0, 0);
  font-size: 3rem;
  margin-bottom: 30px;
  
  font-weight: 800;
  text-align: center;
}

.aboutContent {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10vw;
}

.eventsGrid {
  height: calc(100vh - 11vh - 18vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  width: 80vw;
  height: 65vh;
}
.gridLeft {
  width: 16vw;
}
.gridMid {
  width: 32vw;
}
.gridRight {
  width: 32vw;
}
