:root{
    --primary: #12121F;
    --secondary: #262638;
    --RedText: #AB2330;
    --lightRedText: #E94560;
    --buttonColors:#76ABAE; 
}

/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    
}
body{
    background: var(--primary);
    font-family: poppins, sans-serif;
}

@media (min-width:800px){
  
nav{
    background: #1A1A2E;
    height: 12vh;
    width: 100%;
    display: flex;
    position: fixed;
}
.famTitle{
    color: var(--RedText);
    font-size: 3.1rem;
    font-family: "Alata", sans-serif;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: lightgray;
}
.navLeft{
    width: 37.5%;
    justify-content: start;
    margin-left: 3%;
}
.navLeft div{
    margin-right: 35px;
}
.navLeft .ACTIVE,
.navLeft div:hover
{
    color: var(--lightRedText);
    border-bottom: 4px solid var(--lightRedText);
    border-radius: 3px;
    padding-bottom: 6px;
    cursor: pointer;
}
.contactUs:hover{
    color: var(--lightRedText);   
    cursor: pointer;
}
.navMid{
    width: 25%;
}
.navRight{
    width: 37.5%;
    justify-content: end;
    margin-right: 3%;
}
.navRight div{
    margin-left: 35px;
}
.navRight a i{
    font-size: 3rem;
    margin-left: 35px;
}

:root {
  --primary: #ab2330;
  --secondary: #1a1a2ed0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jost, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #000;
  -ms-overflow-style: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.navbar {
  width: 100vw;
  height: 14vh;
  background: var(--secondary);
  backdrop-filter: blur(14px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.leftNav div a:hover,
.contact a:hover,
.ACTIVE a {
  color: var(--primary);
  font-weight: 700;
}
.profile:hover {
  padding-bottom: none;
  color: var(--primary);
}
.leftNav {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 35vw;
  margin-left: 20px;
}
.leftNav div {
  padding: 15px;
}
.leftNav div a {
  padding-bottom: 3px;
  letter-spacing: 1.6px;
}
.middleNav {
  display: flex;
}
.fa-user-circle:hover{
  color: var(--primary);
}
.rightNav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 35vw;
  margin-right: 20px;
}
.rightNav div {
  padding: 15px;
}
.rightNav div a {
  letter-spacing: 1.6px;
}
i {
  color: white;
}
.title {
  color: var(--primary);
  font-size: 3.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.fa-circle-user {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary);
}
.mainPage {
  display: flex;
  height: calc(100vh);
  background-image: url(/static/images/bg.png);
  background-size: cover;
}
.leftMain {
  width: 50vw;
}
.rightMain {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fam {
  padding-top: 15vh;
  color: var(--primary);
  font-size: 12rem;
}
.fam2 {
  margin-top: -15vh;
  color: var(--primary);
  font-size: 12rem;
}
.tagline {
  color: var(--primary);
  font-size: 1.5rem;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.from {
  padding-top: 5vh;
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: 500;
}
.ezone {
  color: var(--primary);
  font-size: 1.9rem;
}
.space {
  height: 12vh;
}
.eventsPage,
.aboutPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/static/images/bg2.png);
  background-size: cover;
  
}
.aboutPage{
    background: linear-gradient(black, #0f0f17);
    height: 88vh;
    justify-content: space-around;
    align-items: center;  
}
.eventsPage{
    background: linear-gradient(#0f0f17, black);
    height: 105vh;
    justify-content: space-around;
    align-items: center;
}
.eventsTitle,
.aboutTitle {
  color: lightgrey;
  font-size: 3rem;
  height: 10vh;
  display: flex;
  align-items: center;
  font-weight: 800;
  justify-content: center;
}


.aboutContent {
  color: var(--lightRedText);
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 0 10vw;
}

.eventsGrid {
  height: calc(100vh - 12vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  width: 80vw;
  height: 75vh;
  display: flex;
}
.gridLeft {
  width: 23vw;
  height: 100%;
}
.gridMid {
  width: 36vw;
  height: 100%;
}
.gridRight {
  width: 37vw;
  height: 70vh;
}
.image2{
    height: 30%;
}
.image1{
    height: 70%;
}
.image1 img {
  width: 100%;
  height: 100%;
}
.image2 img {
  width: 100%;
  height: 100%;
}
.image3, .image4{
    height: 50%;
}
.image3 img {
  width: 100%;
  height: 100%;
}
.image4 img {
  width: 100%;
  height: 100%;
}
.image5{
    width: 50%;
    height: 30.5vh;
}
.image6{
    width: 50%;
    height: 30.5vh;
}
.image5 img {
  width: 100%;
  height: 100%;
}
.image6 img {
  width: 100%;
  height: 100%;
}
.image7{
    height: 22vh;
}
.image7 img {
  width: 100%;
  height: 100%;
}
.image8{
    width: 30%;
    height: 22.5vh;
}
.image8 img {
  width: 100%;
  height: 100%;
}
.image9{
    width: 70%;
    height: 22.5vh;
}
.image9 img {
  width: 100%;
  height: 100%;
}
.gridRightTop {
  display: flex;
}
.gridRightDown {
  display: flex;
}

.footer {
  background: var(--secondary);
  color: white;
  display: flex;
  flex-direction: column;
}
.copyright {
  color: var(--primary);
  height: 10vh;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: linear-gradient(#38385c00, black);
}
.clubname {
  color: var(--primary);
  font-size: 2.5rem;
  font-weight: 600;
  height: 15vh;
  display: flex;
  align-items: center;
  padding-left: 10vw;
}
.detailsGrid {
  display: flex;
  padding: 0 10vw 5vh 10vw;
}
.detailsGrid div {
  font-size: 1.1rem;
  padding-right: 4vw;
}
.detailsGrid div:first-child{
  font-size: 1.8rem;
  color: lightgrey;
  font-weight: 900;
  margin-bottom: 10px;
}

.detailsGrid div .li{
  color: white;
}
.phoneMenuAccount{
    display: none;
}
.openbtn{
    display: none;
}
.closebtn{
  display: none;
}

::-webkit-scrollbar {
  z-index: 0;
  /* width: 10px; */
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0); 
}

::-webkit-scrollbar-thumb {
  background: rgba(141, 140, 140, 0.7); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6200007d; 
}
}
