@media (max-width:799px){
    :root{
    --primary: #12121F;
    --secondary: #262638;
    --RedText: #AB2330;
    --lightRedText: #E94560;
    --buttonColors:#76ABAE; 
}

/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* nav{
    background: #1A1A2E;
    height: 10vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
} */

/* nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: lightgray;
} */
.navLeft{
    width: 37.5%;
    justify-content: start;
    /* margin-left: 3%; */
}

.navLeft div{
    margin-right: 35px;
}
.navLeft .ACTIVE,
.navLeft div:hover
{
    color: var(--lightRedText);
    border-radius: 3px;
    padding-bottom: 6px;
    cursor: pointer;
}
.contactUs:hover{
    color: var(--lightRedText);   
    cursor: pointer;
}
.navRight{
    width: 37.5%;
    justify-content: end;
    margin-right: 3%;
}
.navRight div{
    margin-left: 35px;
}
.navRight div i{
    font-size: 3rem;
}

:root {
  --primary: #ab2330;
  --secondary: #1a1a2ed0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jost, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  scroll-behavior: smooth;
}
body {
  background: #000;
  -ms-overflow-style: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

i {
  color: white;
}
.title {
  color: var(--primary);
  font-size: 3.5rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}
.fa-circle-user {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary);
}
.mainPage {
  display: flex;
  background-image: url(/static/images/bg.png);
  background-size: cover;
}

.rightMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 3vw;
  padding-bottom: 5vh;
}
.rightMain img{
  width: 50%;
}
.fam {
  padding-top: 15vh;
  color: var(--primary);
  font-size: 12rem;
}
.fam2 {
  margin-top: -15vh;
  color: var(--primary);
  font-size: 12rem;
}
.tagline {
  color: var(--primary);
  font-size: 1.5rem;
  word-spacing: 1rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.from {
  padding-top: 5vh;
  color: var(--primary);
  font-size: 1.3rem;
  font-weight: 500;
}
.ezone {
  color: var(--primary);
  font-size: 1.9rem;
}
.space {
  height: 9vh;
}
.eventsPage,
.aboutPage {
  display: flex;
  flex-direction: column;
  background-image: url(/static/images/bg2.png);
  background-size: cover;
  
}
.aboutPage{
    background: linear-gradient(black, #0f0f17);
    justify-content: space-around;
    align-items: center;  
}
.eventsPage{
    background: linear-gradient(#0f0f17, black);
    justify-content: space-around;
    align-items: center;
}
.eventsTitle,
.aboutTitle {
  color: lightgrey;
  font-size: 2.8rem;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  font-weight: 800;
  justify-content: center;
  margin-bottom: 30px;
}


.aboutContent {
  color: var(--lightRedText);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10vw;
}

.eventsGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gridContainer {
  display: flex;
  flex-direction: column;
}
.gridLeft {
  width: 95vw;
}
.gridMid {
  width: 95vw;
}
.gridRight {
  width: 95vw;
}
.image1 img,
.image2 img, 
.image3 img, 
.image4 img, 
.image5 img, 
.image6 img, 
.image7 img, 
.image8 img, 
.image9 img{
  width: 100%;
}
.gridRightTop {
  display: flex;
}
.gridRightDown {
  display: flex;
}

.footer {
  background: var(--secondary);
  color: white;
  display: flex;
  flex-direction: column;
}
.copyright {
  color: var(--primary);
  height: 8vh;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background: linear-gradient(#38385c00, black);
}
.clubname {
  color: var(--primary);
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
}
.detailsGrid {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.detailsGrid div {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.detailsGrid div .li{
  color: lightgrey;
}
.detailsGridHeading {
  color: var(--primary);
  font-weight: 900;
  transform: scale(1.3);
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.location, .usefulLinks, .email, .phone{
  align-items: center;
  padding: 15px;
  width: 70vw;
  margin: 5px 0;
  border-radius: 10px;
  background: #1a1a2e;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background: #1A1A2E;
  box-shadow: 5vw 0 20px -5px #000000;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.sidebar div a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5rem;
  color: lightgray;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn{
  padding: 15px 0px 8px 0;
  text-decoration: none;
  font-size: 25px;
  color: lightgray;
  display: block;
  transition: 0.3s;
}

.openbtn{
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0) ;
  color: white;
}
.phoneMenuAccount{
    font-size: 2.5rem;
  cursor: pointer;
  border: none;
  background: rgba(0, 0, 0, 0) ;
  color: white;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background: #1A1A2E;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}
.firstOption{
  margin-top: 30px;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar div {font-size: 18px;}
}
.navRight{
    display: none;
}
.famTitle{
    color: var(--RedText);
    font-size: 3.3rem;
    font-family: "Alata", sans-serif;
}
.famTitle2{
    color: var(--RedText);
    font-size: 3rem;
    font-family: "Alata", sans-serif;
}
.nav2{
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 3%;
    border-bottom: 1px solid gray ;
}
.nav2 div{
    margin: 10px;
}
#mySidebar div a{
  font-size: 2rem;
}
}